html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif; 
}

.container {
  width: 1000px;
  margin: 0 auto;
  color:white;
  text-align: center;
  margin-bottom:20px;
}

/* Main */
.main {
  
  height: 700px;
  background:url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg");
  background-size: 100% auto;
  text-align: center; 

}
.main .btn{
  color:white;
  background-color:black;
  padding:10px 40px 10px;
  text-transform:uppercase;
  font-style:none;
}

.main h1 {
  font-size: 150px;
   padding: 300px 0 30px;
  line-height: 100px; 
	margin-top: 0;
	margin-bottom: 80px;
}

.main p {
  font-size: 18px;
  line-height: 1px;
  font-weight: 500;
	margin-bottom: 40px;
	margin-top: 0;
}


/* Supporting */
.supporting {
  text-align: center;
  padding: 20px 0 60px;
  background-color:#1c1c1c;
	height:220px;

}

.supporting .col {
  float: left;
  width: 33%;
  padding: 10px;
  text-align:center;
	text-transform:uppercase;
}

.supporting h1,
.supporting h2 {
  color: #ffa800;
  font-size: 40px;
  margin-bottom: 10px;
	text-transform:uppercase;
  
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px; 
   
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  height: 700px;
  background:url("https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg");
  background-size:100% auto;
  padding:20px 0 0;
  
}

.feature h1,
.feature h2 {
  color: #fff;
  font-size: 80px;
  text-align: center;
  padding: 400px 0 80px;
}

/* Footer */
.footer {
  height: 700px;
  background:url("https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg");
  background-size: 100% auto;
 padding:20px 0 0;
}

.footer h1,
.footer h2 {
  color: #fff;
  font-size: 40px; 
  padding:400px 0 0;
  text-transform:uppercase;
}

@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
    
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
.footer .btn{
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
  }
}
